.bounce-enter-active {
    animation: bounce-in .3s;
}
.bounce-leave-active {
    animation: bounce-in .1s reverse;
}
@-moz-keyframes bounce-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes bounce-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes bounce-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes bounce-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
