/**/
.border-bottom {
  position: relative;
}
.border-bottom:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.border-scale {
  position: relative;
}
.border-scale:after {
  position:absolute;
  content: "";
  height:1px;
  background:#d5d5d5;
  width:100%;
  bottom:0;
  -webkit-transform:scaleY(.5);
  -ms-transform:scaleY(.5);
  -o-transform:scaleY(.5);
  transform:scaleY(.5);
}
